<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

=======
    <%= f.label :motivo %>
    <%= f.text_field :motivo %>
  </div>
  <div class="field">
    <%= f.label :ejecutivo %>
    <%= f.text_field :ejecutivo %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
</div>

>>>>>>> d48e4abedc9fdec1a25616d55371f54f7399f098
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
