<<<<<<< HEAD
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
=======
<h1>Editar Feedback</h1>

<%= render 'form', post: @post %>

<%= link_to 'Mostrar', @post %> |
<%= link_to 'Volver', posts_path %>
>>>>>>> d48e4abedc9fdec1a25616d55371f54f7399f098
