<p id="notice"><%= notice %></p>

<h1>Feedback a Ejecutivo</h1>

<table>
  <thead>
    <tr>
      <th>Ejecutivo</th>
      <th>Motivo</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.ejecutivo %></td>
        <td><%= post.motivo %></td>
        <td><%= post.descripcion %></td>
        <td><%= link_to 'Mostrar', post %></td>
        <!--<td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> "Se comenta ya que no se permitira la modificaion de post--> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo feedback', new_post_path %>
