<p id="notice"><%= notice %></p>

<p>
  <strong>Ejecutivo:</strong>
  <%= @post.ejecutivo %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @post.motivo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @post.descripcion %>
</p>


<%= link_to 'Back', posts_path %>
