<!DOCTYPE html>
<html>
  <head>
    <title>Intranet</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' =>true %>

  </head>

  <body>

<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
           <!--  /.navbar-header -->
    <%= link_to "Cerrar Sesion", destroy_account_session_path, method: :delete %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
=======
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Cerrar Sesión", destroy_account_session_path, method: :delete %>
  	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
>>>>>>> d48e4abedc9fdec1a25616d55371f54f7399f098
    <%= yield %>
  </body>
</html>
